<div class="container table-margin">
    <div class="row padding-60">

        <div class="col-sm-1">
        </div>

        <div class="col-sm-5">

            <img src="../img/about_us/andressa_small.jpg" alt="Andressa" width="420">

            <h2><b>Andressa</b></h2>
            <p> I was born in São José dos Pinhais, a city in the southern part of Brasil. I grew up and studied in
                Brazil until I was 19 years old, when I travelled to Europe and worked in Germany as
                Au Pair for one year. I did my master in Process Engineering in Switzerland and right after I started
                working as commissioning engineer.</p>
            <p> I love to travel, learn about other cultures and languages.
                My family and close friends are the most important for me.
            </p>
        </div>

        <div class="col-sm-5">

            <img src="../img/about_us/marc_small.jpg" alt="Marc" width="420">

            <h2><b>Marc</b></h2>
            <p> I was born in Barcelona, and I lived until the age of 23. At that time I decided to pack my stuff
                and move to Switzerland for a new challenging job. I studied electrical engineering, since I've always
                loved science and tecnology. I'm an easy going guy always motivated to do different things.
            </p>
            <p> I like to do sports, go hiking, travel... always with the people that are important for me.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <h2><b>How we met</b></h2>
            <p> We met each other on the way to work. I (Andressa) was going to my job interview and, when getting out
                of the train, I asked Marc and his colleagues if they knew where exactly the company was. The worked in
                a different company, but they showed me the way.</p>
            <p>	After almost four months, on my third day of work, we met at the train station and talked all the way to work.
                Those 15 minutes were enough to know that something good was about to come. </p>
            <p>	Since then, its been almost two years and a half of a relationship with a lot of love and companionship.
                We are sure that we want to spend the rest of our lives together and we are very happy to celebrate this
                moment with all of you!
            </p>
        </div>
        <div class="col-sm-5">
            <img src="../img/about_us/together.JPG" alt="Together" width="420">
        </div>
    </div>
</div>