<div class="container padding-80-up ">
    <div class="row">
        <h1 style="text-indent: 2em;"><b>Brazil!</b></h1>
    </div>
    <br>
    <br>
    <div class="row padding-40-left">
        <p>Brazil is the world's fifth-largest country, by both geographical area and total population.</p>
        <p>It borders all other South American countries except Ecuador and Chile.</p>
        <p><b>Population:</b> over 200 million inhabitants.
        <p><b>Currency:</b> brazilian real (R$). Nowadays, the currency is depreciated: <b>1 € = 4 R$</b> making things quite cheap in Brazil for foreigners. </p>
        <p><b>Religion:</b> catholic - almost 70% of the population. It is the country with the largest Roman Catholic community in the world.</p>
    </div>
</div>
<div class="container padding-40-up ">
    <div class="row">
        <h2 style="text-indent: 3em;"><b>Sugestões de viagens</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>To fly to Brazil, the best way is to look for a flight to Sao Paulo. From Barcelona, flights cost about 600€ for this period of the year, from Zurich about 700CHF.
            From Sao Paulo, you can get a flight to Curitiba (about 45 minutes) with a local airline. This flight costs about 30€.
            Buying local flights is sometimes complicated for people who don't live in Brazil. Most of the companies require a brazilian identification document or brazilian credit card,
            or prices are higher when you change country. Please ask for our advice to buy them!				</p>
        <p>Brazil has many wonderful places to visit. Below we listed four destinations. Fernando de Noronha is quite far, but we put it in the list
            because it is a very special place for us, it is the place where we got engaged!</p>
        <p>For the ones who could luckily come to our wedding and spend about 10 days in Brazil, we recommend you to visit Foz do Iguaçu e Rio de Janeiro. In August the temperature is
            pleasant (about 25°C instead of almost 40°C in summer), and the hotels are cheaper.</p>
        <p>We are available to any kind of support you may need! Please don't hesitate to ask us anything!</p>
        <br>
        <p align="center"><img src="img/tips/destinations/mapa2.png" alt="mapa2" ></p>
    </div>

    <div class="row">
        <div class="row padding-30-up" >
            <div class="col-sm-6 ">
                <h3 align="center">Foz do Iguaçu</h3>

                <p align="center" ><img src="img/tips/destinations/foz.jpg" alt="foz" ></p>
                <p>Foz do Iguaçu is internationally famous because of the Iguaçu Falls, which consist of approximately 257 falls over 2.7 km, and the Itaipu dam.</p>
                <p>The city is in the border with Argentina and Paraguay.</p>
                <p><b>How to get there:</b> Foz do Iguaçu is approximately 8 hours by car from Curitiba and has an airport.</p>
                <p><b>Average temperature in August:</b> 25°C</p>
                <br>
            </div>

            <div class="col-sm-6">
                <h3 align="center">Rio de Janeiro</h3>

                <p align="center"><img src="img/tips/destinations/rio.jpg" alt="rio" ></p>
                <p>Rio de Janeiro is known for its natural settings, including the Sugarloaf mountain, the statue of Christ the Redeemer atop Corcovado mountain, the Sambadrome and the beaches of Copacabana and Ipanema.</p>
                <p>Rio de Janeiro will host the 2016 Summer Olympics (05.08 – 21.08).</p>
                <p><b>How to get there:</b> Direct flights from the main cities.</p>
                <p><b>Average temperature in August:</b> 22°C</p>
                </p>
                <br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row padding-30-up">
            <div class="col-sm-6">
                <h3 align="center">Bonito</h3>

                <p align="center"><img src="img/tips/destinations/bonito.jpg" alt="bonito" ></p>
                <p>Bonito is a city for ecotourism. Its principal attractions are the natural landscapes, snorkeling in crystal clear water rivers, waterfalls and caves.</p>
                <p><b>How to get there:</b> the easiest way is to fly to Campo Grande and drive from there (300 km).</p>
                <p><b>Average temperature in August:</b> 25°C</p>
                <br>
            </div>

            <div class="col-sm-6">
                <h3 align="center">Fernando de Noronha</h3>

                <p align="center"><img src="img/tips/destinations/fernando.jpg" alt="fernando" ></p>
                <p>Fernando de Noronha is an archipelago of 21 islands and islets in the Atlantic Ocean, 354 km (220 mi) offshore from the Brazilian coast. It is known because of its wonderful beaches and the big variety of marine life. The Island is ecologically protected and the number of access for visitors is limited.</p>
                <p><b>How to get there:</b> Travellers can get to Noronha by plane from Recife.</p>
                <p><b>Average temperature in August:</b> 25°C</p>
            </div>
        </div>
    </div>

</div>
<div class="container padding-40-up">
    <div class="row padding-40-left">
        <h1 style="text-indent: 2em;"><b>Curitiba</b></h1>
        <p>Curitiba is the capital and largest city of the Brazilian state of Paraná, and sits on a plateau at 934 meters above sea level, approximately 110 km from the Atlantic Ocean. The city's population numbered approximately 2 million people.
            In the 1850s, waves of European immigrants arrived in Curitiba, mainly Germans, Italians, Poles and Ukrainians, contributing to the city's economic and cultural development.
        </p>
        <p><b>Main touristic sights:</b></p>
        <div class="row">
            <div class="col-sm-3">
                <h3 align="center">Jardim Botânico</h3>
                <p align="center"><img src="img/tips/curitiba/jardim.jpg" width="250px" alt="jardim" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Ópera de Arame</h3>
                <p align="center"><img src="img/tips/curitiba/opera.jpg" width="250px" alt="opera" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Museu Oscar Niemeyer</h3>
                <p align="center"><img src="img/tips/curitiba/museu.jpg" width="250px" alt="museu" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Parque Tanguá</h3>
                <p align="center"><img src="img/tips/curitiba/parque.jpg" width="250px" alt="parque" ></p>
            </div>
        </div>

        <br>
        <p><b>Population:</b> 1.8 million inhabitants</p>
        <p><b>Average temperature in August:</b> 15°C. It is impossible to predict the weather in Curitiba. Some winter days are warmer than some summer days.</p>
        <p><u>For marriages, women normally wear summer dresses with a scarf.</u></p>
    </div>

    <div class="row padding-40-up">
        <h2 style="text-indent: 3em;"><b>Hotels</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>There are many hotels in Curitiba, in a wide price range. Please find below some hotels in different parts of the city. We are available to any kind of support
        </p>
    </div>

    <div class="row">
        <div class="row padding-30-up">
            <div class="col-sm-4">
                <h3 align="center">CLH Suites Curitiba</h3>
                <p align="center">Rua Desembargador Motta, 1181</p>
                <p align="center">Preços desde R$108,00</p>
                <br>
                <a href="http://www.clhsuites.com" target="_blank">
                    <p align="center"><img src="img/tips/clh.png" alt="CLH" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Ibis Curitiba Centro Cívico</h3>
                <p align="center">Rua Mateus Leme, 358</p>
                <p align="center">Preços desde R$140,00</p>
                <a href="http://www.ibis.com/pt/hotel-3205-ibis-curitiba-centro-civico/index.shtml" target="_blank">
                    <p align="center"><img src="img/tips/ibis.png" alt="Ibis" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Harbor Self Saint Emilion</h3>
                <p align="center">Rua Visconde do Rio Branco, 1295</p>
                <p align="center">Preços desde R$148,00</p>
                <br>
                <a href="http://www.harborhoteis.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/harbor.png" alt="Harbor" ></p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row padding-40-up padding-20-down">
            <div class="col-sm-4">
                <h3 align="center">Bristol Centro Civico Hotel</h3>
                <p align="center">Rua Deputado Mário de Barros, 1158</p>
                <p align="center">Preços desde R$157,00</p>
                <br>
                <a href="http://www.bristolhoteis.com.br/hotel,CentroCivico" target="_blank">
                    <p align="center"><img src="img/tips/bristol.png" alt="Bristol" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Slaviero Slim - Alto da XV</h3>
                <p align="center">Rua Conselheiro Araújo, 435</p>
                <p align="center">Preços desde R$166,00</p>
                <br>
                <br>
                <a href="http://www.slavierohoteis.com.br/hotel-em-curitiba/slaviero-slim-curitiba-alto-da-xv/hotel/" target="_blank">
                    <p align="center"><img src="img/tips/slaviero.png" alt="Slaviero" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Ramada Plaza Curitiba Rayon</h3>
                <p align="center">Rua Visconde de Nácar, 1424</p>
                <p align="center">Preços desde R$390,00</p>
                <br>
                <br>
                <a href="http://www.ramada.com/" target="_blank">
                    <p align="center"><img src="img/tips/ramada.png" alt="Ramada" ></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container padding-40-up">
    <div class="row">
        <h2 style="text-indent: 3em;"><b>Beauty Saloons</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>Find below some beauty saloons.</p>
    </div>
    <div class="row">
        <div class="row padding-30-up padding-80-down">
            <div class="col-sm-4">
                <h3 align="center">Elos hair</h3>
                <p align="center">Rua Oyapock, 677 </p>
                <br>
                <br>
                <a href="http://www.eloshair.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/elos.jpg" alt="Elos Hair"></p>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 align="center">Expert beauty center</h3>
                <p align="center">Avenida Paraná, 150 </p>
                <br>
                <br>
                <a href="http://www.expertbeautycenter.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/expert.jpg" alt="Expert"></p>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 align="center">Mulher Plena</h3>
                <p align="center"> Avenida Paraná, 1161 </p>
                <br>

                <a href="http://salaomulherplena.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/marly.png" alt="Mulher Plena"></p>
                </a>
            </div>
        </div>
    </div>
</div>