<div class="container table-margin">
    <div class="row padding-60">

        <div class="col-sm-1">
        </div>

        <div class="col-sm-5">

            <img src="img/about_us/andressa_small.jpg" alt="Andressa" width="420">

            <h2><b>Andressa</b></h2>
            <p> Nasci em São José dos Pinhais, uma cidade da região sul do Brasil. Cresci e estudei no Brasil até
                os 19 anos, quando viajei pela Europa e trabalhei na Alemanha por um ano como Au Pair. Fiz meu
                mestrado em Engenharia de Processos na Suíça e logo depois comecei a trabalhar ali mesmo como
                engenheira de comissionamento.
            </p>
            <p> Gosto de viajar, aprender sobre outras culturas e idiomas.
                Valorizo minha família e amigos verdadeiros acima de tudo.
            </p>
        </div>

        <div class="col-sm-5">

            <img src="img/about_us/marc_small.jpg" alt="Marc" width="420">

            <h2><b>Marc</b></h2>
            <p> Nasci em Barcelona, cidade onde eu morei até os 23 anos. Estudei Engenharia Industrial Elétrica, sempre fui apaixonado pela tecnologia.
                Depois de me formar me mudei para a Suíça para trabalhar.
                Sou uma pessoa aberta, sempre disposto a fazer atividades variadas e a aprender coisas novas.
            </p>
            <p> Gosto de praticar esportes, fazer trilhas, viajar... sempre do lado das pessoas importantes para mim.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <h2><b>Como nos conhecemos?</b></h2>
            <p> Nos conhecemos no caminho para o trabalho. Eu (Andressa) estava indo fazer minha entrevista de emprego e,
                saindo do trem, perguntei para o Marc e seus companheiros de trabalho se eles sabiam onde ficava a empresa.
                Eles trabalhavam em uma empresa diferente, mas me mostraram o caminho.</p>
            <p>	Depois de quase dois meses, no meu terceiro dia de trabalho, nos encontramos na estação de trem e conversamos no caminho do trabalho.
                Esses 15 minutos foram suficientes para que soubéssemos que algo bom estava por vir. </p>
            <p>	Desde então, são quase dois anos e meio de uma relação de muito amor e companheirismo.
                Temos certeza de que queremos passar o resto de nossas vidas juntos e estamos muito felizes de poder celebrar esse momento com vocês!
            </p>
        </div>
        <div class="col-sm-5">
            <img src="img/about_us/together.JPG" alt="Together" width="420">
        </div>
    </div>
</div>