<div class="container padding-80-up ">
    <div class="row">
        <h1 style="text-indent: 2em;"><b>Brasil!</b></h1>
    </div>
    <br>
    <br>
    <div class="row padding-40-left">
        <p>O Brasil é o quinto maior país do mundo em área territorial e população.</p>
        <p>O país faz fronteira com todos os outros países sul-americanos, exceto Chile e Equador.</p>
        <p><b>População:</b> mais de 200 milhões de habitantes.
        <p><b>Moeda:</b> real (R$). Nos dias de hoje, a moeda está muito desvalorizada: <b>1 € = 4 R$</b> tornando as coisas baratas no país. </p>
        <p><b>Religião:</b> católica com quase 70% da população. É o país com o maior número de católicos do mundo.</p>
    </div>
</div>
<div class="container padding-40-up ">
    <div class="row">
        <h2 style="text-indent: 3em;"><b>Sugestões de viagens</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>Para voar ao Brasil desde o exterior, o melhor é procurar um vôo até São Paulo. Desde Barcelona os vôos custam em torno de 600 €, desde Zurich em torno de 700 CHF.
            Desde São Paulo, o melhor é comprar um vôo até Curitiba (cerca de 45 minutos) com uma companhia nacional. Esse vôo sai em torno de 30 €.
            Comprar vôos nacionais algumas vezes é complicado para pessoas que não moram no Brasil. Muitos sites requerem um documento de identificação brasileiro
            ou cartão de crédito brasileiro, ou encarecem os preços quando a pessoa muda de país. Peça nosso auxílio para compras de passagens nacionais!</p>
        <p>O Brasil tem inúmeros lugares bonitos para conhecer. Abaixo citamos quatro destinos diferentes. Fernando de Noronha é bastante longe, mas colocamos na lista por
            ser um lugar muito especial para nós, o lugar do nosso noivado!</p>
        <p>Recomendamos às pessoas que puderem ir para o nosso casamento e possam ficar uns 10 dias no Brasil, que visitem Foz do Iguaçu e Rio de Janeiro.
            Em agosto as temperaturas são agradáveis (em torno de 25°C, em quanto no verão chegam a 40°C) e a estadia é mais barata.</p>
        <p>Estamos à disposição para ajudar no que seja!</p>
        <br>
        <p align="center"><img src="img/tips/destinations/mapa2.png" alt="mapa2" ></p>
    </div>

    <div class="row">
        <div class="row padding-30-up" >
            <div class="col-sm-6 ">
                <h3 align="center">Foz do Iguaçu</h3>

                <p align="center" ><img src="img/tips/destinations/foz.jpg" alt="foz" ></p>
                <p>Foz do Iguaçu é conhecida internacionalmente pelas Cataratas do Iguaçu, que é composta por 257 cachoeiras individuais ao longo de 2,7 km, e pela Usina Hidrelétrica de Itaipu.</p>
                <p>A cidade faz fronteira com a Argentina e o Paraguai.</p>
                <p><b>Como chegar:</b> Foz do Iguaçu fica a aproximadamente 8 horas de carro de Curitiba. A cidade também tem um aeroporto.</p>
                <p><b>Temperatura média em agosto:</b> 25°C</p>
                <br>
            </div>

            <div class="col-sm-6">
                <h3 align="center">Rio de Janeiro</h3>

                <p align="center"><img src="img/tips/destinations/rio.jpg" alt="rio" ></p>
                <p>Rio de Janeiro é famosa por diversos ícones culturais e paisagísticos, como o Pão de Açúcar, o morro do Corcovado com a estátua do Cristo Redentor, o Sambódromo e as praias de Copacabana e Ipanema
                <p>Os Jogos Olímpicos de verão de 2016 serão realizados no Rio no ano de 2016 (05.08 – 21.08)</p>
                <p><b>Como chegar:</b> Vôos diretos para as principais cidades.</p>
                <p><b>Temperatura média em agosto:</b> 22°C</p>
                </p>
                <br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row padding-30-up">
            <div class="col-sm-6">
                <h3 align="center">Bonito</h3>

                <p align="center"><img src="img/tips/destinations/bonito.jpg" alt="bonito" ></p>
                <p>Bonito é uma cidade de ecoturismo. Suas principais atrações são as paisagens naturais, os mergulhos em rios de águas transparentes, cachoeiras e cavernas.</p>
                <p><b>Como chegar:</b> a maneira mais fácil é voar até Campo Grande e ir até ali de carro (300 km).</p>
                <p><b>Temperatura média em agosto:</b> 25°C</p>
                <br>
            </div>

            <div class="col-sm-6">
                <h3 align="center">Fernando de Noronha</h3>

                <p align="center"><img src="img/tips/destinations/fernando.jpg" alt="fernando" ></p>
                <p>Fernando de Noronha é um arquipélago do Oceano Atlântico, 354 km distante do continente. É conhecido por suas praias maravilhosas e a grande diversidade de vida marinha. A ilha é protegida ecológicamente e o número de acessos para visitantes é limitado.</p>
                <p><b>Como chegar:</b> vôos desde Recife.</p>
                <p><b>Temperatura média em agosto:</b> 25°C</p>
            </div>
        </div>
    </div>

</div>
<div class="container padding-40-up">
    <div class="row padding-40-left">
        <h1 style="text-indent: 2em;"><b>Curitiba</b></h1>
        <p>Curitiba é um município brasileiro, capital do estado do Paraná, localizado a 934 metros de altitude no primeiro planalto paranaense, a aproximadamente 110 quilômetros do Oceano Atlântico. Por volta do ano de 1850, uma grande quantidade de imigrantes europeus chegou em Curitiba, na maioria alemães, italianos, poloneses e ucranianos e italianos, que contribuíram para a diversidade cultural até hoje permanente.</p>
        <p><b>Principais pontos turísticos:</b></p>
        <div class="row">
            <div class="col-sm-3">
                <h3 align="center">Jardim Botânico</h3>
                <p align="center"><img src="img/tips/curitiba/jardim.jpg" width="250px" alt="jardim" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Ópera de Arame</h3>
                <p align="center"><img src="img/tips/curitiba/opera.jpg" width="250px" alt="opera" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Museu Oscar Niemeyer</h3>
                <p align="center"><img src="img/tips/curitiba/museu.jpg" width="250px" alt="museu" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Parque Tanguá</h3>
                <p align="center"><img src="img/tips/curitiba/parque.jpg" width="250px" alt="parque" ></p>
            </div>
        </div>

        <br>
        <p><b>População:</b> 1.8 milhões de habitantes</p>
        <p><b>Temperatura média em agosto:</b> 15°C. É impossível prever o tempo em Curitiba. Alguns dias de inverno são mais quentes que alguns de verão.</p>
        <p><u>Para festas de casamento, as mulheres normalmente vão com vestido de verão e uma escarfe por cima.</u></p>
    </div>

    <div class="row padding-40-up">
        <h2 style="text-indent: 3em;"><b>Hotéis</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>Existe uma grande variedade de hotéis em Curitiba, nos mais variados preços. Abaixo citamos alguns hotéis com preços e localidades variados. Estamos à disposição para qualquer dúvida em relação ao hotel.</p>
    </div>

    <div class="row">
        <div class="row padding-30-up">
            <div class="col-sm-4">
                <h3 align="center">CLH Suites Curitiba</h3>
                <p align="center">Rua Desembargador Motta, 1181</p>
                <p align="center">Preços desde R$108,00</p>
                <br>
                <a href="http://www.clhsuites.com" target="_blank">
                    <p align="center"><img src="img/tips/clh.png" alt="CLH" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Ibis Curitiba Centro Cívico</h3>
                <p align="center">Rua Mateus Leme, 358</p>
                <p align="center">Preços desde R$140,00</p>
                <a href="http://www.ibis.com/pt/hotel-3205-ibis-curitiba-centro-civico/index.shtml" target="_blank">
                    <p align="center"><img src="img/tips/ibis.png" alt="Ibis" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Harbor Self Saint Emilion</h3>
                <p align="center">Rua Visconde do Rio Branco, 1295</p>
                <p align="center">Preços desde R$148,00</p>
                <br>
                <a href="http://www.harborhoteis.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/harbor.png" alt="Harbor" ></p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row padding-40-up padding-20-down">
            <div class="col-sm-4">
                <h3 align="center">Bristol Centro Civico Hotel</h3>
                <p align="center">Rua Deputado Mário de Barros, 1158</p>
                <p align="center">Preços desde R$157,00</p>
                <br>
                <a href="http://www.bristolhoteis.com.br/hotel,CentroCivico" target="_blank">
                    <p align="center"><img src="img/tips/bristol.png" alt="Bristol" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Slaviero Slim - Alto da XV</h3>
                <p align="center">Rua Conselheiro Araújo, 435</p>
                <p align="center">Preços desde R$166,00</p>
                <br>
                <br>
                <a href="http://www.slavierohoteis.com.br/hotel-em-curitiba/slaviero-slim-curitiba-alto-da-xv/hotel/" target="_blank">
                    <p align="center"><img src="img/tips/slaviero.png" alt="Slaviero" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Ramada Plaza Curitiba Rayon</h3>
                <p align="center">Rua Visconde de Nácar, 1424</p>
                <p align="center">Preços desde R$390,00</p>
                <br>
                <br>
                <a href="http://www.ramada.com/" target="_blank">
                    <p align="center"><img src="img/tips/ramada.png" alt="Ramada" ></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container padding-40-up">
    <div class="row">
        <h2 style="text-indent: 3em;"><b>Salões de beleza</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>Abaixo citamos alguns salões de beleza. Estamos à disposição para qualquer dúvida e para marcar horários.</p>
    </div>
    <div class="row">
        <div class="row padding-30-up padding-80-down">
            <div class="col-sm-4">
                <h3 align="center">Elos hair</h3>
                <p align="center">Rua Oyapock, 677 </p>
                <br>
                <br>
                <a href="http://www.eloshair.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/elos.jpg" alt="Elos Hair"></p>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 align="center">Expert beauty center</h3>
                <p align="center">Avenida Paraná, 150 </p>
                <br>
                <br>
                <a href="http://www.expertbeautycenter.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/expert.jpg" alt="Expert"></p>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 align="center">Mulher Plena</h3>
                <p align="center"> Avenida Paraná, 1161 </p>
                <br>

                <a href="http://salaomulherplena.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/marly.png" alt="Mulher Plena"></p>
                </a>
            </div>
        </div>
    </div>
</div>