<div class="container sub-gallery">
    <a ng-href="#/{{language}}/gallery" class="btn btn-gallery">{{back}}</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_5856.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_5856.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_5895.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_5895.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_5902.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_5902.JPG" alt="BOOK photos">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_5927.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_5927.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_5975.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_5975.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_5992.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_5992.JPG" alt="BOOK photos">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_6031.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_6031.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_6035.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_6035.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/BOOK/IMG_6081.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_6081.JPG" alt="BOOK photos">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a ng-href="img/gallery/BOOK/IMG_6079.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_6079.JPG" alt="BOOK photos">
                </a>
            </div>
            <div class="col-sm-6">
                <a ng-href="img/gallery/BOOK/IMG_6088.JPG" class="thumbnail">
                    <img src="img/gallery/BOOK/thumbnail/IMG_6088.JPG" alt="BOOK photos">
                </a>
            </div>
        </div>

    </div>
</div>
</div>