<div class="container sub-gallery">
    <a ng-href="#/{{language}}/gallery" class="btn btn-gallery">{{back}}</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/DUBAI/DSC_6110.JPG" class="thumbnail">
                    <img src="img/gallery/DUBAI/thumbnail/DSC_6110.JPG" alt="DUBAI trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/DUBAI/DSC_6202.JPG" class="thumbnail">
                    <img src="img/gallery/DUBAI/thumbnail/DSC_6202.JPG" alt="DUBAI trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/DUBAI/DSC_6235.JPG" class="thumbnail">
                    <img src="img/gallery/DUBAI/thumbnail/DSC_6235.JPG" alt="DUBAI trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/DUBAI/DSC_6272.JPG" class="thumbnail">
                    <img src="img/gallery/DUBAI/thumbnail/DSC_6272.JPG" alt="DUBAI trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/DUBAI/DSC_6300.JPG" class="thumbnail">
                    <img src="img/gallery/DUBAI/thumbnail/DSC_6300.JPG" alt="DUBAI trip">
                </a>
            </div>
        </div>
    </div>
</div>