<div class="container gallery text-center">
    <div class="row">
        <h1>{{bookText}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <a ng-href="#/{{language}}/gallery/book" class="thumbnail">
                <img src="img/gallery/BOOK/thumbnail/IMG_6035.JPG" alt="BOOK pre-wedding">
            </a>
        </div>
    </div>
    <div class="row">
        <h1>{{travelText}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a ng-href="#/{{language}}/gallery/usa" class="thumbnail">
                <img src="img/gallery/USA/thumbnail/DSC_1783.JPG" alt="USA trip">
            </a>
            <h3>USA - Grand Canyon & Austin</h3>
        </div>
        <div class="col-sm-4">
            <a ng-href="#/{{language}}/gallery/dubai" class="thumbnail">
                <img src="img/gallery/DUBAI/thumbnail/DSC_6110.JPG" alt="DUBAI trip">
            </a>
            <h3>Dubai</h3>
        </div>
        <div class="col-sm-4">
            <a ng-href="#/{{language}}/gallery/israel" class="thumbnail">
                <img src="img/gallery/ISRAEL/thumbnail/DSC_7033.JPG" alt="ISRAEL trip">
            </a>
            <h3>Israel</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a ng-href="#/{{language}}/gallery/moroco" class="thumbnail">
                <img src="img/gallery/MOROCCO/thumbnail/DSC_8538.JPG" alt="{{morocoText|uppercase}} trip">
            </a>
            <h3>{{morocoText}}</h3>
        </div>
        <div class="col-sm-4">
            <a ng-href="#/{{language}}/gallery/creta" class="thumbnail">
                <img src="img/gallery/CRETA/thumbnail/DSC_9710.JPG" alt="CRETA trip">
            </a>
            <h3>Creta</h3>
        </div>
        <div class="col-sm-4">
            <a ng-href="#/{{language}}/gallery/switzerland" class="thumbnail">
                <img src="img/gallery/SWITZERLAND/thumbnail/DSC_3498.JPG" alt="{{switzerlandText|uppercase}} trip">
            </a>
            <h3>{{switzerlandText}}</h3>
        </div>
    </div>
</div>