<div class="container sub-gallery">
    <a ng-href="#/{{language}}/gallery" class="btn btn-gallery">{{back}}</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7033.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7033.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7034.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7034.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7063.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7063.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7075.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7075.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7096.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7096.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7102.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7102.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7110.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7110.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7121.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7121.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7123.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7123.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7130.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7130.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7140.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7140.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7144.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7144.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7157.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7157.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7202.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7202.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7224.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7224.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7253.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7253.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7262.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7262.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7275.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7275.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7333.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7333.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7342.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7342.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7351.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7351.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7366.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7366.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7368.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7368.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7402.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7402.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7413.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7413.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7458.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7458.JPG" alt="ISRAEL trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/ISRAEL/DSC_7503.JPG" class="thumbnail">
                    <img src="img/gallery/ISRAEL/thumbnail/DSC_7503.JPG" alt="ISRAEL trip">
                </a>
            </div>
        </div>
    </div>
</div>