<div class="container sub-gallery">
    <a ng-href="#/{{language}}/gallery" class="btn btn-gallery">{{back}}</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8225.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8225.JPG" alt="MOROCCO trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8538.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8538.JPG" alt="MOROCCO trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8594.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8594.JPG" alt="MOROCCO trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8641.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8641.JPG" alt="MOROCCO trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8673.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8673.JPG" alt="MOROCCO trip">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8724.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8724.JPG" alt="MOROCCO trip">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/MOROCCO/DSC_8745.JPG" class="thumbnail">
                    <img src="img/gallery/MOROCCO/thumbnail/DSC_8745.JPG" alt="MOROCCO trip">
                </a>
            </div>
        </div>
    </div>
</div>