<div class="container sub-gallery">
    <a ng-href="#/{{language}}/gallery" class="btn btn-gallery">{{back}}</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0101.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0101.JPG" alt="SWITZERLAND trip 1">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0102.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0102.JPG" alt="SWITZERLAND trip 2">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0105.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0105.JPG" alt="SWITZERLAND trip 3">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0432.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0432.JPG" alt="SWITZERLAND trip 4">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0774.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0774.JPG" alt="SWITZERLAND trip 5">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0778.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0778.JPG" alt="SWITZERLAND trip 6">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0790.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0790.JPG" alt="SWITZERLAND trip 7">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0942.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0942.JPG" alt="SWITZERLAND trip 8">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_0991.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_0991.JPG" alt="SWITZERLAND trip 9">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_1072.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_1072.JPG" alt="SWITZERLAND trip 10">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_3717.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_3717.JPG" alt="SWITZERLAND trip 11">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/SWITZERLAND/DSC_3557.JPG" class="thumbnail">
                    <img src="img/gallery/SWITZERLAND/thumbnail/DSC_3557.JPG" alt="SWITZERLAND trip 12">
                </a>
            </div>
        </div>
    </div>
</div>