<div class="container sub-gallery">
    <a ng-href="#/{{language}}/gallery" class="btn btn-gallery">{{back}}</a>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1783.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1783.JPG" alt="USA trip 1">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1679.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1679.JPG" alt="USA trip 2">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1710.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1710.JPG" alt="USA trip 3">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1714.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1714.JPG" alt="USA trip 4">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1735.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1735.JPG" alt="USA trip 5">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1766.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1766.JPG" alt="USA trip 6">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1772.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1772.JPG" alt="USA trip 7">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1783.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1783.JPG" alt="USA trip 8">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1859.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1859.JPG" alt="USA trip 9">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1882.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1882.JPG" alt="USA trip 10">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1884.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1884.JPG" alt="USA trip 11">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1925.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1925.JPG" alt="USA trip 12">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1965.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1965.JPG" alt="USA trip 13">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_1970.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_1970.JPG" alt="USA trip 14">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2006.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2006.JPG" alt="USA trip 15">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2045.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2045.JPG" alt="USA trip 16">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2053.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2053.JPG" alt="USA trip 17">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2089.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2089.JPG" alt="USA trip 18">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2098.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2098.JPG" alt="USA trip 19">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2122.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2122.JPG" alt="USA trip 20">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2156.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2156.JPG" alt="USA trip 21">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2198.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2198.JPG" alt="USA trip 22">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2309.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2309.JPG" alt="USA trip 23">
                </a>
            </div>
            <div class="col-sm-4">
                <a ng-href="img/gallery/USA/DSC_2329.JPG" class="thumbnail">
                    <img src="img/gallery/USA/thumbnail/DSC_2329.JPG" alt="USA trip 24">
                </a>
            </div>
        </div>
    </div>
</div>