<div class="container table-margin">
    <div class="row padding-60">

        <div class="col-sm-1">
        </div>

        <div class="col-sm-5">

            <img src="../img/about_us/andressa_small.jpg" alt="Andressa" width="420">

            <h2><b>Andressa</b></h2>
            <p> Vaig néixer a São José dos Pinhais, una ciutat del sur de Brasil. Vaig creixer i estudiar a Brasil
                fins als 19 anys, quan vaig començar a viatjar per Europa i treballar a Alemanya per un any de Au Pair.
                Vaig fer el meu màster en Enginyeria de Processos a Suissa i poc després, vaig començar a treballar
                allà mateix de enginyeria de servei. </p>
            <p>	M'encanta viatjar, aprendre sobre altres cultures i idiomes.
                Dono molt de valor a la meva familia i amics propers per sobre de tot. 	</p>
        </div>

        <div class="col-sm-5">

            <img src="../img/about_us/marc_small.jpg" alt="Marc" width="420">

            <h2><b>Marc</b></h2>
            <p> Vaig néixer a Barcelona, ciutat en la que hi vaig viure fins als 23 anys, moment en el que vaig decidir
                fer maletes i anar a viure a Suissa per treballar. Vaig estudiar Enginyeria Industrial Elèctrica, ja que sempre
                m'ha apassionat el mon de la tecnologia. Soc una persona oberta i amb ganes sempre de fer coses. </p>
            <p>	M'agrada practicar algun esport, fer excursions, anar a la platja, viatjar...
                sempre acompanyat de la gent que m'importa i amb la que m'ho passo bé!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <h2><b>Com ens van conneix</b></h2>
            <p> Ens vam conèixer de camí a la feina. Jo (Andressa) anava a la meva entrevista de feina quan, sortint del tren,
                vaig preguntar a en Marc i els seus companys de feina on era l'empresa. Ells no treballaven allà, però em van
                mostrar el camí. </p>
            <p>	Després de quasi quatre mesos, en el meu tercer dia de feina, ens vam trobar a l'estació de
                tren i vam conversar tot el camí. Aquells 15 minuts van ser suficients per saber que alguna cosa bona arribaria
                aviat. </p>
            <p>	Desde llavors, son ja quasi dos anys i mig d'una relació amb molt d'amor i companyerisme. Estem segurs
                de que volem passar la resta de les nostres vides junts i estem molt feliços de poder celebrar aquest moment
                amb vosaltres!
            </p>
        </div>
        <div class="col-sm-5">
            <img src="../img/about_us/together.JPG" alt="Together" width="420">
        </div>
    </div>
</div>