<div class="container table-margin table-width">
    <div class="row">
        <div class="col-sm-6">
            <div class="container padding-30-up">
                <h2 style="text-indent: 2em;"><b>Cerimònia religiosa</b></h2>
                <div class="row tab-left">
                    <h3><b>Quan?</b></h3>
                    <!-- <p style="text-indent: 2em;"> Sabado, 20 de Agosto 2016, as 17.30h.</p> -->
                    <p> Dissabte, 20 d'Agost de 2016, a les 17.30h.</p>
                </div>
                <div class="row tab-left">
                    <h3><b>On?</b></h3>
                    <p><b>Igreja Bom Jesus do Cabral</b></i></p>
                    <p>Rua Bom Jesus, 159</p>
                    <p>Curitiba - Paraná. Brasil.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h2><b><iframe src="https://mapsengine.google.com/map/embed?mid=ztgmCVp2QAqQ.kbOR_MQcyYqo" width="480" height="360"></iframe></b></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="container padding-30-up">
                <h2 style="text-indent: 2em;"><b>Sopar i festa</b></h2>
                <div class="row tab-left">
                    <h3><b>Quan?</b></h3>
                    <p>Just després de la cerimònia (aprox. 20h).</p>
                </div>
                <div class="row tab-left">
                    <h3><b>On?</b></h3>
                    <p><b><a href="http://www.mirantebarigui.com.br" target="_blank">Mirante Barigüi</b></i></p></a>
                    <p>Rua Anna Gbur Barcik, 50</p>
                    <p>Curitiba - Paraná. Brasil.</p>
                    <p><a href="http://www.mirantebarigui.com.br/localizacao.html" target="_blank">Com arribar-hi desde la BR - 277</p></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h2><b><iframe src="https://mapsengine.google.com/map/embed?mid=ztgmCVp2QAqQ.kHP6O6Bx7gU4" width="480" height="360"></iframe></b></h2>
        </div>
    </div>
</div>