<div class="container padding-80-up ">
    <div class="row">
        <h1 style="text-indent: 2em;"><b>Brasil!</b></h1>
    </div>
    <br>
    <br>
    <div class="row padding-40-left">
        <p>Brasil és el cinquè país més gran del món, tant per area geogràfica com per població.</p>
        <p>Fa frontera amb tots els altres paissos de sudamèrica excepte Ecuador i Chile.</p>
        <p><b>Població:</b> sobre 200 millons d'habitants.
        <p><b>Moneda:</b> real brasileny (R$). Avui en dia, la moneda està desvaloritzada: <b>1 € = 4 R$</b> fent tot més barat pels extrangers. </p>
        <p><b>Religió:</b> catòlica - quasi el 70% de la població. És el pais amb la comunitat Catòlica Romana més gran del món.</p>
    </div>

</div>
<div class="container padding-40-up ">
    <div class="row">
        <h2 style="text-indent: 3em;"><b>Propostes de viatje</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>Per volar a Brasil, la millor manera és buscar un vol cap a Sao Paulo. Desde Barcelona, els vols costen uns 600€ en aquest periode de l'any, desde Zurich uns 700CHF.
            Desde Sao Paulo, es pot agafar un vol cap a Curitiba (uns 45min) amb una aerolínia local. El preu és d'uns 30€.
            Comprar vols locals és a vegades complicat per persones que no viuen a Brasil. La majoria de les companyies aèrees demanen una identificació brasilenya o pagar amb tarjeta de crèdit de banc brasileny,
            i sovint els preus pugen quan es canvia de país a la web. No dubteu en demanar-nos consell per comprar-los!</p>
        <p>Brasil té bastants llocs que val la pena visitar. A sota hem llistat possibles destins. Fernando de Noronha està bastant lluny, però l'hem inclòs
            perquè és un lloc molt especial per nosaltres, és on ens vam comprometre a casament!</p>
        <p>Pels que puguin venir al nostre casament i passar uns 10 dies per Brasil, recomanem visitar Foz do Iguaçu e Rio de Janeiro. A l'Agost la temperatura és
            agradable (us 25°C en comptes de 40°C a l'estiu), i els hotels més barats.</p>
        <p>Estem a disposició per ajudar-vos en el que sigui! Si us plau no dubteu en demanar-nos qualsevol cosa!</p>
        <br>
        <p align="center"><img src="img/tips/destinations/mapa2.png" alt="mapa2" ></p>
    </div>

    <div class="row">
        <div class="row padding-30-up" >
            <div class="col-sm-6 ">
                <h3 align="center">Foz do Iguaçu</h3>

                <p align="center" ><img src="img/tips/destinations/foz.jpg" alt="foz" ></p>
                <p>Foz do Iguaçu es coneix internacionalment per les cascades de Iguaçu, que consisteixen en aproximadament 257 cascades en 2.7 km, i la central hidroelèctrica de Itaipú.</p>
                <p>La ciutat fa frontera amb Argentina i Paraguay.</p>
                <p><b>Com arribar-hi:</b> Foz do Iguaçu és a aproximadament 8h en cotxe de Curitiba i té aeroport.</p>
                <p><b>Temperatura mitja a l'Agost:</b> 25°C</p>
                <br>
            </div>

            <div class="col-sm-6">
                <h3 align="center">Rio de Janeiro</h3>

                <p align="center"><img src="img/tips/destinations/rio.jpg" alt="rio" ></p>
                <p>Rio de Janeiro es famós pel mont Pao de Açucar, la estàtua de Crist a dalt del la montanya del Corcovado, el Sambadrome i les platjes de Copacabana i Ipanema.</p>
                <p>Serà la seu dels Jocs Olímpics 2016 (05.08 – 21.08).</p>
                <p><b>Com arribar-hi:</b> Vol directe desde qualsevol principal ciutat.</p>
                <p><b>Temperatura mitja a l'Agost:</b> 22°C</p>
                <br>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="row padding-30-up">
            <div class="col-sm-6">
                <h3 align="center">Bonito</h3>

                <p align="center"><img src="img/tips/destinations/bonito.jpg" alt="bonito" ></p>
                <p>Bonito és una ciutat per ecoturisme. Les principals atraccions són els païssatges naturals, fer snorkel en rius d'aigüa cristalina, visitar cascades i coves.</p>
                <p><b>Com arribar-hi:</b> el més fàcil és volar cap a Campo Grande i conduir desde allà (300 km).</p>
                <p><b>Temperatura mitja a l'Agost:</b> 25°C</p>
                <br>
            </div>

            <div class="col-sm-6">
                <h3 align="center">Fernando de Noronha</h3>

                <p align="center"><img src="img/tips/destinations/fernando.jpg" alt="fernando" ></p>
                <p>Fernando de Noronha és un arxipèlag de 21 illes i illots a l'Oceà Atlàntic, a 354 km de la costa brasilenya. Es coneix per les platjes paradisíaques i una gran vida marítima. L'illa està ecològicament protegida i l'accés és restringit a un màxim nombre de visitants.</p>
                <p><b>Com arribar-hi:</b> amb avió desde Recife.</p>
                <p><b>Temperatura mitja a l'Agost:</b> 25°C</p>
            </div>
        </div>
    </div>

</div>
<div class="container padding-40-up">
    <div class="row padding-40-left">
        <h1 style="text-indent: 2em;"><b>Curitiba</b></h1>
        <p>
            Curitiba és la capital i ciutat més gran de la regió de Parana i està a 934 metres per sobre el nivell del mar. Està situada a l'interior, aproximàdament a 110 km de l'Oceà Atlàntic. Als anys 1850, ones d'immigrants europeus van arribar a Curitiba, principalment alemanys, italians, polonesos i ucranians, contribuïnt al desenvolupament econòmic i cultural de la ciutat.
        </p>
        <p><b>Principals punts turístics:</b></p>
        <div class="row">
            <div class="col-sm-3">
                <h3 align="center">Jardim Botânico</h3>
                <p align="center"><img src="img/tips/curitiba/jardim.jpg" width="250px" alt="jardim" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Ópera de Arame</h3>
                <p align="center"><img src="img/tips/curitiba/opera.jpg" width="250px" alt="opera" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Museu Oscar Niemeyer</h3>
                <p align="center"><img src="img/tips/curitiba/museu.jpg" width="250px" alt="museu" ></p>
            </div>
            <div class="col-sm-3">
                <h3 align="center">Parque Tanguá</h3>
                <p align="center"><img src="img/tips/curitiba/parque.jpg" width="250px" alt="parque" ></p>
            </div>
        </div>

        <br>
        <p><b>Població:</b> 1.8 milions d'habitants.</p>
        <p><b>Temperatura mitja a l'Agost:</b> 15°C. És impossible de preveure el temps a Curitiba. Alguns dies d'hivern poden ser més calorosos que dies d'estiu.</p>
        <p><u>Als casaments, les dones vesteixen normalment vestits d'estiu però amb un mocador o bufanda fina.</u></p>
    </div>

    <div class="row padding-40-up">
        <h2 style="text-indent: 3em;"><b>Hotels</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>
            Hi ha bastants hotels a Curitiba, amb un ventall ampli de preus. Aquí proposem una llista d'hotels repartits per la ciutat. Estem a disposició per qualsevol dubte.
        </p>
    </div>

    <div class="row">
        <div class="row padding-30-up">
            <div class="col-sm-4">
                <h3 align="center">CLH Suites Curitiba</h3>
                <p align="center">Rua Desembargador Motta, 1181</p>
                <p align="center">Preços desde R$108,00</p>
                <br>
                <a href="http://www.clhsuites.com" target="_blank">
                    <p align="center"><img src="img/tips/clh.png" alt="CLH" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Ibis Curitiba Centro Cívico</h3>
                <p align="center">Rua Mateus Leme, 358</p>
                <p align="center">Preços desde R$140,00</p>
                <a href="http://www.ibis.com/pt/hotel-3205-ibis-curitiba-centro-civico/index.shtml" target="_blank">
                    <p align="center"><img src="img/tips/ibis.png" alt="Ibis" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Harbor Self Saint Emilion</h3>
                <p align="center">Rua Visconde do Rio Branco, 1295</p>
                <p align="center">Preços desde R$148,00</p>
                <br>
                <a href="http://www.harborhoteis.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/harbor.png" alt="Harbor" ></p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row padding-40-up padding-20-down">
            <div class="col-sm-4">
                <h3 align="center">Bristol Centro Civico Hotel</h3>
                <p align="center">Rua Deputado Mário de Barros, 1158</p>
                <p align="center">Preços desde R$157,00</p>
                <br>
                <a href="http://www.bristolhoteis.com.br/hotel,CentroCivico" target="_blank">
                    <p align="center"><img src="img/tips/bristol.png" alt="Bristol" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Slaviero Slim - Alto da XV</h3>
                <p align="center">Rua Conselheiro Araújo, 435</p>
                <p align="center">Preços desde R$166,00</p>
                <br>
                <br>
                <a href="http://www.slavierohoteis.com.br/hotel-em-curitiba/slaviero-slim-curitiba-alto-da-xv/hotel/" target="_blank">
                    <p align="center"><img src="img/tips/slaviero.png" alt="Slaviero" ></p>
                </a>
            </div>

            <div class="col-sm-4">
                <h3 align="center">Ramada Plaza Curitiba Rayon</h3>
                <p align="center">Rua Visconde de Nácar, 1424</p>
                <p align="center">Preços desde R$390,00</p>
                <br>
                <br>
                <a href="http://www.ramada.com/" target="_blank">
                    <p align="center"><img src="img/tips/ramada.png" alt="Ramada" ></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container padding-40-up">
    <div class="row">
        <h2 style="text-indent: 3em;"><b>Salons de bellesa</b></h2>
    </div>
    <br>
    <div class="row padding-40-left">
        <p>Proposem aquí alguns salons de bellesa.</p>
    </div>
    <div class="row">
        <div class="row padding-30-up padding-80-down">
            <div class="col-sm-4">
                <h3 align="center">Elos hair</h3>
                <p align="center">Rua Oyapock, 677 </p>
                <br>
                <br>
                <a href="http://www.eloshair.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/elos.jpg" alt="Elos Hair"></p>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 align="center">Expert beauty center</h3>
                <p align="center">Avenida Paraná, 150 </p>
                <br>
                <br>
                <a href="http://www.expertbeautycenter.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/expert.jpg" alt="Expert"></p>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 align="center">Mulher Plena</h3>
                <p align="center"> Avenida Paraná, 1161 </p>
                <br>

                <a href="http://salaomulherplena.com.br/" target="_blank">
                    <p align="center"><img src="img/tips/marly.png" alt="Mulher Plena"></p>
                </a>
            </div>
        </div>
    </div>
</div>